<html>
  <head>
    <meta charset="utf-8">

      <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
      </style>

  </head>


  <body>


    

    <div class="w3-container w3-center w3-animate-opacity">
      <h1>The Author's Bookshelf</h1>
    </div>

    <% @authors.each do |author| %>

    <div class="container">

      <div class="row">
          <div class="col big-box">
            <h3>Author Information</h3>

              <h6><%= author.name %></h6>
              <%= image_tag "default_author.png",class:'rounded-circle', width: '300px',  height: '250px' %>

              <p>Bio: <%= author.bio %></p>
              <p>Genre: <%= author.genre %> </p>
              <p>Preferred Publisher: <%= author.publisher %> </p>
          </div>
          <div class="col">
            <div class="row">
              <div class="col mini-box">
                <h3>Book Information</h3>


                <div  class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <!-- <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li> -->
                  </ul>

                  <!-- The slideshow -->


                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
